<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <% for (let e of errors) {%>
    <p style="color:red"><%= e %></p>
  <% }%>
  <form method="POST">
    <table>
      <tr>
        <td><label for="id">Számlaszám:</label></td>
        <td><input type="text" name="id" id="id" value="<%= data.id %>" required></td>
      </tr>
      <tr>
        <td><label for="balance">Összeg:</label></td>
        <td><input type="number" name="balance" id="balance" value="<%= data.balance %>" required></td>
      </tr>
      <tr>
        <td><label for="owner">owner:</label></td>
        <td><input type="text" name="owner" id="owner" value="<%= data.owner %>" required></td>
      </tr>
      <tr>
        <td>
          <input type="submit" value="submit">
        </td>
      </tr>
    </table>
  </form>
</body>
</html>
